<ul class="list-group" *ngIf="loaded && logs.length > 0">
  <li class="list-group-item d-flex justify-content-between align-items-center" 
      *ngFor="let log of logs" 
      [class.list-group-item-secondary]="selectedLog === log">
      <!-- The class "list-group-item-secondary only gets added WHEN selectedLog equals the log object this list item has printed -->
    <a href="#" (click)="onSelect(log)">{{ log.title }}</a>
    <!-- TODO: Add a click event to show the description, and a real boolean to control it -->
    <p *ngIf="showDescription">{{ log.description }}</p>
    <span class="log-date">{{ log.date | date: 'short' }}</span>
    <a><i class="fa fa-remove" (click)="onDelete(log)"></i></a>
  </li>
</ul>

<div *ngIf="loaded && logs.length == 0">
  <h5>No logs to be shown.</h5>
</div>

<div *ngIf="!loaded">
  <h5>Loading...</h5>
</div>