<div class="card card-body mb-3">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Add a new log line</label>
      <input  type="text"
              id="title" 
              name="title" 
              [(ngModel)]="title"
              class="form-control mb-3" 
              placeholder="A descriptive title"
              (focus)="toggleDescriptionVisibility()"
              (blur)="toggleDescriptionVisibility()" />
      <input  type="text" 
              name="description" 
              [(ngModel)]="description"
              [hidden]="this.hideDescription && !this.title"
              class="form-control" 
              placeholder="Description"/>
    </div>
    <input type="submit" value="Add Log" class="btn btn-success" [disabled]="!this.title" [hidden]="!this.isNew" />
    <input type="submit" value="Edit Log" class="btn btn-success" [hidden]="this.isNew" />
    <button type="button" class="btn btn-warning" [hidden]="!this.title" (click)="clearState()">Clear</button>
  </form>
</div>
